<h1>New Job</h1>

<% if @job.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

    <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- render the errors partial, send it the @post as the 'object' -->

<%= form_for(@job) do |f| %>

    <%= f.label "Choose a category:" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>

    <p>Or Create a New Category:
    <%= f.fields_for :category do |c| %>
        <%= c.text_field :name %>
    <% end %>
    </p>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <br>
    <%= f.label :company %>
    <%= f.text_field :company %>

    <br>
    <%= f.label :content %>
    <%= f.text_area :content %>

    <br>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <br>
    <%= f.submit "Submit" %>

<% end %>