<h1><%=@job.title%></h1>
<br>
<h2>By: <%=@job.user.username%> </h2>
<br>
<h2>Company: <%= @job.company%> </h2>

<div><%= @job.content%></div>

<h3>Reviews:</h3>
<% @job.reviews.each do |r| %>
    <li><strong><%= r.user.username %></strong> says "<%= link_to r.content, review_path(r) %>"</li>
<% end %>