<h2><%= @review.content%> - <%= @review.user.username%></h2>

<% if @review.user == current_user %>
    <%= link_to "Edit Review", edit_review_path(@review) %>
    <h3><%= button_to "Delete", review_path, method:"delete"%></h3>
<% end %>

<h4>Read about the job here: <%= link_to @review.job.title, job_path(@review.job_id) %></h4>